# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\阿萍开题报告\FirstOfProject\rentcarbattery0501\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
